<div>
  <a class="quick-btn" [routerLink]="['/papers/list', { q: 'folder', key: getFolderKey(), name: getFolderName() }]" (click)="loadFolderPapers()">
    <div class="text-info"><i class="fa fa-fw fa-folder-open fa-5x"></i></div>
    <div>
      <span class="label label-info">{{ getFolderPaperCount() }}</span>
    </div>
  </a>
</div>
<div>
  <a class="folder-link" [routerLink]="['/papers/list', { q: 'folder', key: getFolderKey(), name: getFolderName() }]" (click)="loadFolderPapers()"><span>{{ getFolderName() }} </span></a>
</div>
