<div class="form-horizontal" role="form">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">標題</h3>
    </div>
    <div class="panel-body">
      <!-- head group -->
      <div class="form-group">
        <div class="col-xs-12">
          <input ype="text" name="title" placeholder="請輸入標題" class="form-control input-lg"
            (keyup.enter)="newLine()"
            [(ngModel)]="content.title" 
            [appFocus]="true">
        </div>
      </div>
      <!-- end head group -->
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">紀錄</h3>
    </div>
    <div class="panel-body">
      <!-- line form group -->
      <div *ngFor="let line of paperLines;let index = index;let last = last" class="form-group">
        <div class="col-xs-12">
          <input type="text" name="line{{index}}" class="form-control"
            (keyup.enter)="newLine()"
            [(ngModel)]="paperLines[index].data"
            [appFocus]="last">
        </div>
      </div>
      <!-- end line form group -->

      <!-- add line button -->
      <div class="form-group">
        <div class="col-xs-12">
          <a class="btn btn-info text-info" (click)="newLine()"><i class="fa fa-fw fa-plus"></i></a>
        </div>
      </div>
      <!-- end line button -->
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">分類</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="category" class="col-md-2 col-xs-12">資料夾</label>
        <span class="col-md-10 col-xs-12">
          <select class="form-control" [(ngModel)]="content.category" >
            <option *ngFor="let folder of folders" [value]="folder.$key">{{folder.name}}</option>
          </select>
        </span>
      </div>

      <div class="form-group">
        <label for="tags" class="col-md-2 col-xs-12">標籤</label>
        <span class="col-md-10 col-xs-12">
          <input type="text" id="tags" name="tags" class="form-control" [(ngModel)]="tagString">
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2 col-xs-12">
      日期： {{ content.date }}
      </div>
    <div class="col-md-10 col-xs-12">
      <button type="submit" (click)="save()" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>

<simple-notifications [options]="notificationOptions"></simple-notifications>